#userNameInput{
    background-color: beige;   
    padding: 1%;
}

#messageArea{
    height:75%;
    overflow:auto;
    width:75%;
    float:left;
    margin-bottom:0px;
    margin-top: 54px;
    margin-left: 57px;

}
.form-control{
    width: 25%;
}
#submit{
    visibility:hidden;
    float:right;
    margin-right: 21%;
    margin-top: 4px;
}

#welcome{
    position:relative;
    height:100%;
    width:100%;
    text-align: center;
}
#couchPic{
  
}
#allRooms{
    display:none;
    //float:left;
    /* border:solid grey 1px; */ 
    top:18%;
    right: 37%;
    float:right;
    width: 23%;

    //right: 5px;

    /* top: 2px; */
    /* margin-right:2%; */
    border:solid silver thin;
    padding:1%;
   // margin-top: 54px;
}
#createRoom{
    /*   width: 57%;
        height: 9%;*/

    position: relative;
    bottom: 4px;
    margin-top:5px;
    float: right;
}    
#inputChat{
    display:inline; 
    width:75%;
    margin-left:57px;
}
#controls{
visibility: hidden; 
display:inline;
margin-left:57px;

}#changeRoom{
    position: absolute;
    top: 80%;
    right: 37%;
}
#chooseUserButton{
    position: absolute;
top: 80%;
left: 37%;
}
.specific{
    display: none;
}
